[alias]
  a = add
  b = branch
  c = commit
  d = diff
  f = fetch
  g = reflog
  l = log
  m = merge
  p = pull
  r = rebase
  s = stash
  t = tag
  w = show
  aa = commit --amend -a --no-edit
  bd = branch -D
  bl = branch -a
  cm = checkout master
  co = checkout
  cp = cherry-pick
  df = difftool
  du = difftool @{upstream}
  mm = merge origin/master
  pf = push -f
  re = reset --soft HEAD~
  rh = reset --hard
  ri = rebase -i
  rs = reset --soft
  sl = stash list
  st = status
  su = submodule update
  pop = stash pop
  plo = pull origin
  pso = push origin
  cos = checkout staging
  cod = checkout develop
  cob = checkout -b
  wip = commit -a -m \"[ci skip] WIP WIP WIP WIP WIP\"
  amend = commit --amend --no-edit
  plod = pull origin develop
  plos = pull origin staging
  psos = push origin staging
  psfo = push -f origin
  shallow = clone --depth 1
