[user]
	name = f-teruhisa
	email = teru_fukumoto@outlook.jp

[core]
	ignorecase = false
	precomposeunicode = true
	editor = vim
  quotepath = false
  autocrlf = input

[merge]
	conflictstyle = diff3
	tool = vimdiff
	toolprompt = false

[push]
  default = tracking

[init]
	defaultBranch = main

[color]
  ui = auto
  quotepath  = false
  autocrlf   = false
  ignorecase = false
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[status]
  showuntrackedfiles = no

[alias]
  a = add
  b = branch
  c = commit
  d = diff
  f = fetch
  g = reflog
  l = log
  m = merge
  p = pull
  r = rebase
  s = status
  t = tag
  w = show
  aa = commit --amend -a --no-edit
  bd = branch -D
  bl = branch -a
  cm = checkout master
  co = checkout
  cp = cherry-pick
  df = difftool
  du = difftool @{upstream}
  mm = merge origin/master
  pf = push -f
  re = reset --soft HEAD~
  rh = reset --hard
  ri = rebase -i
  rs = reset --soft
  sl = stash list
  st = stash
  su = submodule update
  pop = stash pop
  plo = pull origin
  pso = push origin
  cos = checkout staging
  cod = checkout develop
  cob = checkout -b
  wip = commit -a -m \"[ci skip] WIP WIP WIP WIP WIP\"
  amend = commit --amend --no-edit
  plom = pull origin master
  plod = pull origin develop
  plos = pull origin staging
  psos = push origin staging
  psfo = push -f origin
  shallow = clone --depth 1
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'

